language: cpp

os: linux
sudo: false
dist: trusty

env:
  global:
    - DEVKITPRO=/opt/devkitpro    
    - DEVKITARM=/opt/devkitpro/devkitARM
    
cache:
  directories:
    - "$HOME/.local"
    - "$DEVKITPRO"

before_install:
  - curl -L https://github.com/devkitPro/pacman/releases/download/devkitpro-pacman-1.0.1/devkitpro-pacman.deb -o pacman.deb
  - sudo apt-get install -y p7zip-full

install:
  - sudo dpkg -i pacman.deb
  - sudo dkp-pacman -Sy
  - sudo dkp-pacman -S devkitARM general-tools dstools ndstool libnds libfat-nds --noconfirm
  - export DEVKITPRO=/opt/devkitpro
  - export DEVKITARM=${DEVKITPRO}/devkitARM
  
script:
  - cd retail/
  - make
  - mv bin/ nds-bootstrap/
  - 7z a B4DS.7z nds-bootstrap/
  
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.9
    - g++-4.9
    - libstdc++6 
    - lftp
    
after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL

after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL

before_deploy:
  - git config --local user.name "TWLBot"
  - git clone https://$GITHUB_TOKEN@github.com/TWLBot/Builds.git
  - cd Builds/
  - cp ../B4DS.7z B4DS.7z
  - git stage .
  - git commit -m "nds-bootstrap for DS | $COMMIT_TAG"
  - git push origin b4ds
  - export CURRENT_DATE=$(date +'%Y%m%d-%H%M%S')
  - git tag v$CURRENT_DATE

deploy:
  provider: releases
  overwrite: true
  api_key: $GITHUB_TOKEN
  file: B4DS.7z
  skip_cleanup: true
  repo: TWLBot/Builds
  prerelease: true
  name: Bootstrap for DS | $COMMIT_TAG
  body: $COMMIT_MESSAGE
  on:
    all_branches: true
