language: cpp

before_install:
  - curl -L https://raw.githubusercontent.com/devkitPro/installer/master/perl/devkitARMupdate.pl -o devkitARMupdate.pl
  - export DEVKITPRO=/home/travis/devkitPro
  - export DEVKITARM=${DEVKITPRO}/devkitARM

install:
  - perl devkitARMupdate.pl

script:
  - make
  
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.9
    - g++-4.9
    - libstdc++6
    - lftp

after_success:
  - >
    if [ "$TRAVIS_BRANCH" == "master" ] || [ "$TRAVIS_BRANCH" == "dsi" ] || [ "$TRAVIS_BRANCH" == "sdk5" ] || [ "$TRAVIS_BRANCH" == "sdk5dsi" ] || [ "$TRAVIS_BRANCH" == "hb" ]; then
        GITDATE="`git show -s --date=short --format='%ad' | sed 's/-//g'`"
        GITREV="`git show -s --format='%h'`"
        REV_NAME="nds-bootstrap-${TRAVIS_BRANCH}-${GITDATE}-${GITREV}.nds"
        cp nds-bootstrap.nds $REV_NAME
        lftp ftp://$FTP_LOGIN:$FTP_PASSWORD@$FTP_ADDR  -e "set net:timeout 5; set net:max-retries 2; put ${REV_NAME}; bye"
    fi