language: cpp

os: linux
sudo: false
dist: trusty

env:
  global:
    - DEVKITPRO=/opt/devkitpro    
    - DEVKITARM=/opt/devkitpro/devkitARM
    
cache:
  directories:
    - "$HOME/.local"
    - "$DEVKITPRO"

before_install:
  - curl -L https://github.com/devkitPro/pacman/releases/download/devkitpro-pacman-1.0.1/devkitpro-pacman.deb -o pacman.deb
  - sudo apt-get install -y p7zip-full

install:
  - sudo dpkg -i pacman.deb
  - sudo dkp-pacman -Sy
  - sudo dkp-pacman -S devkitARM general-tools dstools ndstool libnds libfat-nds --noconfirm
  - export DEVKITPRO=/opt/devkitpro
  - export DEVKITARM=${DEVKITPRO}/devkitARM

script:
  - export COMMIT_TAG="$(git log --format=%h -1)"
  - export COMMIT_MESSAGE="$(git log --pretty=format:"%an - %s" -1)"
  - cd retail/
  - make nightly
  - mkdir bin/TWiLightMenu/
  - echo $COMMIT_TAG >> bin/TWiLightMenu/nightly-bootstrap.ver
  - cd ../hb/
  - make nightly
  - cd ../
  - mkdir nds-bootstrap/
  - mv retail/bin/* nds-bootstrap/
  - mv hb/bin/* nds-bootstrap/
  - 7z a nds-bootstrap.7z nds-bootstrap/
  
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.9
    - g++-4.9
    - libstdc++6
    - lftp

after_success:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh success $WEBHOOK_URL

after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure $WEBHOOK_URL

before_deploy:
  - git config --local user.name "TWLBot"
  - git tag v$TRAVIS_BUILD_NUMBER

deploy:
  provider: releases
  overwrite: true
  api_key: $GITHUB_TOKEN
  file: nds-bootstrap.7z
  skip_cleanup: true
  repo: epicpk11/TWLBuilds-test
  prerelease: true
  name: nds-bootstrap | $COMMIT_TAG
  body: $TRAVIS_COMMIT_MESSAGE
